@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.list__item {
    border-radius: 50px;
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    /* background-color: #fff; */

}


.list__item a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.Card {
    background-image: url(./img/card\ fon\ .png);
        /* transition: transform 0.15s; */
        position: relative;
        width: 200px;
        height: 350px;
        box-shadow: 0 0 66px rgb(0 0 0);
        border-radius: 50px 50px 5px 5px;
}

.Card__2 {
    /* background: #776557; */
    /* transition: transform 0.10s; */
    position: relative;
    width: 250px;
    height: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 3mm ridge lightgreen;
    /* z-index: ; */
}


.CardName {
    font-family: 'Neucha', cursive;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    background: #5081a4;
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.CardPortrait {
    position: absolute;
    top: -10px;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 4px solid #283179;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.CardDescription {
    font-family: 'Neucha', cursive;
    border-radius: 20px 20px 0 0;
    position: absolute;
    width: 100%;
    top: 63%;
    background: rgb(120, 159, 209);
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}


.CardMana {
    font-family: 'Neucha', cursive;
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    background: #29519c;
    top: 10px;
    left: 10px;
}

.CardAttack {
    font-family: 'Neucha', cursive;
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    background: rgb(49, 131, 86);
    bottom: 10px;
    left: 10px;
}

.CardDefense {
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    background: #9f2c23;
    bottom: 10px;
    right: 10px;
}

.button {
    position: absolute;
    bottom: 1px;
    width: 100px;
    height: 30px;
    left: 50%;
    margin-left: -50px; /*104.5px is half of the button width*/
    border-radius: 20px;
    background-color: rgba(65, 61, 234, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    font-family: 'Neucha', cursive;

}



.button::before {

    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
}
.button:hover {
    background: rgb(41, 38, 185);
    transform: translate(0, 0.25em);
  }
  .button:hover::before {
    transform: translate3d(0, 0.5em, -1em); 

   } 

  .button:active {
    background: rgb(28, 26, 122) !important;
    transform: translate(0em, 0.75em);
  }