.list__item {
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.list__item a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.Card {
    background: #776557;
    transition: transform 0.15s;
    position: relative;
    width: 40vh;
    height: 55vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 8px;
    /*right: 3000px;*/
}


.CardName {
    position: absolute;
    width: 100%;
    top: 50%;
    background: #D4B48F;
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.CardPortrait {
    position: absolute;
    top: -10px;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 4px solid #968E86;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.CardDescription {
    position: absolute;
    width: 100%;
    top: 63%;
    background: gold;
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}


.CardMana {
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    background: #4681ee;
    top: 10px;
    left: 10px;
}

.CardAttack {
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    background: orange;
    bottom: 10px;
    left: 10px;
}

.CardDefense {
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    background: #bc3328;
    bottom: 10px;
    right: 10px;
}

.button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: 50%;
    margin-left: -50px; /*104.5px is half of the button width*/
}
