@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&dispay=swap');
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background: rgba(57, 56, 56, 0.3);
    background: inherit;
    position: absolute;
    /* border: 1px solid black; */
    width: -webkit-fill-available;
    backdrop-filter: blur(10px);
    position: fixed;

}


/* .container:before {
    position: absolute;
    content: '';
    background: inherit;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(10px);
} */
/*.logo {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    margin-right: 30px;*/
/*    object-fit: contain;*/
/*    object-position: center center;*/
/*}*/
.list__container {
    align-items: center;
    vertical-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px;
    list-style-type: none;
    right: 146px;
    left: 146px;
}
.list__container a {
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 800;
    text-shadow:  0 0 10px rgb(18, 62, 175),
    0 0 27px #000000;
    transition: .4s;
}
.list__container :global(a.active) {
    /* background-color: #443997; */
    border: 2px solid #6858e3;
    color: #6858e3;
    text-shadow: none;
    -webkit-box-shadow: 3px 1px 76px 35px rgba(34, 60, 80, 0.33);
     -moz-box-shadow: 3px 1px 76px 35px rgba(34, 60, 80, 0.33);
     box-shadow: 3px 1px 76px 35px rgba(34, 60, 80, 0.33);
}

.css-1xmxa7j {
    text-transform: capitalize;
    margin: 0;
}
